<!DOCTYPE html>
<html lang="en">
<head>
	<title>NBN: Pipelines</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="public/css/icomoon.css" rel="stylesheet" type="text/css">
	<link href="public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="public/css/core.min.css" rel="stylesheet" type="text/css">
	<link href="public/css/components.min.css" rel="stylesheet" type="text/css">
	<link href="public/css/colors.min.css" rel="stylesheet" type="text/css">
	<script src="public/js/pace.min.js"></script>
	<script src="public/js/jquery.min.js"></script>
	<script src="public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="public/js/pipelines-fastopt-library.js"></script>
    <script language="JavaScript">
        var exports = window;
        exports.require = window["ScalaJSBundlerLibrary"].require;
    </script>
    <style>
    .page-container {
      	padding-left: 20px !important;
      	padding-right: 20px !important;      
    }

	.page-header {
		background-color: white !important;
	}

	.logo {
		width: 100px;
	}z

	.projects-table {
		table-layout: fixed;
	}

	.projects-column {
		max-width: 200px !important;
	}

	.environment-column {
		min-width: 20%;
		max-width: 20%;
	}
  </style>    
</head>

<body class="navbar-bottom">
    <div id="pipelines"/>
</body>
<script type="text/javascript" src="public/js/pipelines-fastopt.js"></script>
</html>