#search__input {
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-appearance: none;
}

#search__input:focus {
    outline: none;
}

@media screen and (max-width: 40em) {
    .search-wrap {
        font-size: 0.85em;
        position: absolute;
        top: 2.15em;
        right: 2em;
    }
}

#btn-search-close {
    color: white;
    position: absolute;
    z-index: 2001;
    top: 2.0em;
    right: 2.0em;
    display: block;
}

#search {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.search__inner {
    position: absolute;
    display: flex;
    width: 100%;
    background: #f0f0f0;
    justify-content: center;
    transition: transform 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search__inner--up {
    color: #ffffff;
    background: #273246;
    align-items: center;
    height: 20%;
    transform: translate3d(0,-100%,0);
}

.search__inner--down {
    top: 20%;
    color: #dce6e6;
    background: #f5f5f5;
    height: 80%;
    transform: translate3d(0,100%,0);
    overflow-y: auto;
}

.btn--search-close {
    font-size: 2em;
    position: absolute;
    z-index: 100;
    top: 1.25em;
    right: 1.25em;
    display: block;
}

.search__form {
    width: 75%;
    max-width: 900px;
    margin: 0 auto;
}

.search__inner .nav {
    width: 100%;
}

#search__input {
    font-family: inherit;
    font-size: 3vw;
    color: white;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0.1em 0;
    border-bottom: 1px solid #F06292;
}

#search__input::-webkit-input-placeholder {
    opacity: 0.1;
    /* WebKit, Blink, Edge */
    color: #fff;
}

#search__input::-moz-placeholder {
    opacity: 0.1;
    /* Mozilla Firefox 19+ */
    color: #fff;
}

#search__input:-ms-input-placeholder {
    opacity: 0.1;
    /* Internet Explorer 10-11 */
    color: #fff;
}

#search__input::-webkit-search-cancel-button,
#search__input::-webkit-search-decoration {
    -webkit-appearance: none;
}

#search__input::-ms-clear {
    display: none;
}

/************************/
/* Transitions 			*/
/************************/

.main-wrap {
    transition: transform 0.6s, opacity 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.main-wrap--hide {
    opacity: 0;
    transform: scale3d(0.8,0.8,1);
}

.search {
    pointer-events: none;
}

.search--open {
    pointer-events: auto;
    z-index: 2000 !important;
}

.search::before {
    opacity: 0;
    transition: opacity 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search--open::before {
    opacity: 1;
}

/* Search button */
.btn--search {
    transition: opacity 0s;
}

.main-wrap--hide .btn--search {
    opacity: 0;
    transition-delay: 0s;
}

/* Close button */
.btn--search-close {
    opacity: 0;
    transform: scale3d(0.8, 0.8, 1);
    transition: opacity 0.6s, transform 0.6s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search--open .btn--search-close {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

.search--open .search__inner {
    transform: translate3d(0,0,0);
}

.search__suggestion {
    transform: translate3d(0,150px,0);
    transition: transform 1s;
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.search--open .search__suggestion {
    transform: translate3d(0,0,0);
    transition-delay: 0.05s;
}

.search--open .search__suggestion:last-child {
    transition-delay: 0.1s;
}
